body {
	margin:0;
}
.container {
	max-width:1000px;
	margin:auto;
}
nav ul,
nav ul li {
	margin:0;
	padding:0;
	list-style: none;
}
.header {
	background-color:#DDDDDD;
	margin-bottom:20px;
	height:40px;
}
.header nav {
	max-width:1000px;
	margin:auto;
}
.header li {
	display:inline-block;
	height:40px;
	line-height: 40px;
}
.header li a {
	color:#000;
	text-decoration: none;
	display:block;
	padding-left:10px;
	padding-right:10px;
}
.header li a:hover {
	background-color:#EEE;
}

table th {
	background-color:#DDDDDD;
	padding:5px;
}
table td {
	border:1px solid #DDDDDD;
	padding:5px;
}
table tr:hover td {
	background-color:#EEE;
}

table a {
	color:#0000FF;
	text-decoration: none;
}
table a:hover {
	text-decoration:underline;
}

#busca {
	outline:0;
	border:0;
}

.form input[type=text],
.form select,
.form textarea {
	width:100%;
	height:35px;
	font-size:13px;
	padding-left:10px;
	border:2px solid #DDD;
	outline:0;
}
.form input[type=submit] {
	background-color:#CCCCCC;
	padding:5px 10px;
	border-radius:10px;
	font-size:15px;
	font-weight: bold;
}

.warning {
	border:1px solid #FF0000;
	background-color:#FF5555;
	padding:10px;
	font-size:14px;
	color:#000;
	margin-bottom:10px;
}

















